/* misc styles */
$primary-color: #e72937;
$font-face: "Open Sans", Arial, Tahoma, sans-serif;
$font-size-base: 14px;
$desktop-max-width: 1024px;
/* =========== */

/* ========navigation========= */
$nav-bg-color: #282828;
/* border styles */
$primary-border-color: #ccc;
$secondary-border-color: #7aaa32;
/* =========== */

